<% layout("/layouts/boilerplate") %>

<body>
    <form action="/tools" method="post">
        <input name="tool[title]" type="text" placeholder="Enter title"  novalidate class="needs-validation">
        <br>
        <input name="tool[description]" type="text" placeholder="Enter description" novalidate class="needs-validation">
        <br>
        <input name="tool[img]" type="text" placeholder="Enter img Link" novalidate class="needs-validation">
        <br>
        <input name="tool[link]" type="text" placeholder="Enter website Link" novalidate class="needs-validation">
        <br>
        <input name="tool[category]" type="text" placeholder="Enter category" novalidate class="needs-validation">
        <br>
        <button>Add Tool</button>
    </form>
    
</body>
