<% layout("/layouts/boilerplate") %>
<body>
    <form action="tools/new" method="get">
        <button>Add tools</button>
    </form>
    <ul>
        <%for(let tools of allTools){ %>
            <li><a href="/tools/<%= tools._id%>"><%= tools.title %></a></li>
            <% } %>
    </ul>
    
</body>